
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <%- include('includes/nav') %>

    <div class="container" style="margin-top: 5rem;">
        <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 4rem; color: #002a5e; font-weight: bold;">Exams Cluster <%- sectionNum %></h1>
    </div>

    <div class="container margtop" style="margin-bottom: 4rem;">
        <div class="row ht">
            <div class="col-2">
            </div>
            <div class="col-2">
                <h1 class="text-center txt-clr2">Resources</h1>
            </div>
            <div class="col-5">
            </div>
            <% if (user && admin == 1) { %>
                <div class="col-1">
                    <a href="/exams/create" class="btn btn-primary">Create</a>
                </div>
            <% } %>
            <div class="col-2"></div>
        </div>

        <% resources.forEach(resource => { %>
            <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-3">
                <div class="card">
                    <div class="card-body" style="margin-left: 1rem;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-10">
                                    <h class="card-title"><a href="/pdf/<%= resource.filePath %>" target="_blank"><%= resource.name %></a></h>
                                </div>
                                <div class="col-2">
                                    <% if (user && admin == 1) { %>
                                        <form action="/delete-file/<%= resource.id %>?type=<%= resource.type %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this file?');">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                        <div class="row">
                            <div class="col-10">
                                <p class="card-text"><%= resource.description %></p>
                            </div>
                            <div class="col-2">
                                <% if (user && admin == 1) { %>
                                    <a href="/edit/<%= resource.id %>" class="btn btn-primary">Edit</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                        
            </div>
        </div>
            </div>
            <% }) %>
        

    </div>

    <script>
        function openFile(filePath) {
            window.open(filePath, '_blank');
        }
    </script>
    <%- include("includes/foot") %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>

<style>
    .nav-bg {
        background-color: #002a5e;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    .text-clr {
        color: white;
    }
    .cnt-bg {
        background-color: #b0b3b8;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .txt-clr2 {
        color: #0a4d8c;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        word-spacing: 0.1em;
    }
    .dark-bg {
        background-color: #002a5e;
        border-radius: 1rem;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .ht {
        height: 100%;
    }
    .card-text {
        font-size: 1.5rem;
    }
    .card-title {
        font-size: 2.5rem;
    }
    .margtop {
        margin-top: 8rem;
    }
    .card-img {
        height: auto;
        width: 100%;
    }
    .btn {
        border-radius: 1rem;
        border-color: #fff;
        background-color: #002a5e;
        color: #fff;
    }
    .btn:hover {
        background-color: #f9b748;
        color: #002a5e;
    }
</style>